blockquote {
  background: #f9f9f9;
  color: $brand-color;
  border-left: 4px solid $border-color-01;
  padding-left: $spacing-unit * .5;
  @include relative-font-size(1.125);
  font-style: normal;

  > :last-child {
    margin-bottom: 0;
  }

  i, em {
    font-style: normal;
  }
}