blockquote {
  background: hsl(0, 0%, 97%) !important;
  padding: 10px 15px 10px 15px !important;
  color: hsl(208, 9%, 33%) !important;
  border-left: 4px solid hsl(210, 25%, 58%) !important;
  @include relative-font-size(1.0625);
  font-style: normal !important;

  > :last-child {
    margin-bottom: 0;
  }

  i, em {
    font-style: normal;
  }
}