blockquote {
  background: hsl(210, 14%, 84%) !important;
  color: $text-color !important;
  border-left: 4px solid hsl(210, 25%, 58%) !important;
  padding-left: $spacing-unit * .5;
  @include relative-font-size(1.125);
  font-style: normal !important;

  > :last-child {
    margin-bottom: 0;
  }

  i, em {
    font-style: normal;
  }
}